footer {
    background-color: rgb(168, 121, 213);
    width: auto;
    .box {
        width: auto;
        height: 40px;
        padding-top: 10px;
        .titulo {
            margin-right: 150px;
          h2 {
                padding-bottom: 10px;
              }
          }
      }
      .container {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0;
        padding-right: 0;
        .row {
            display: grid;
            grid-template-rows: 55px;
            padding-bottom: 15px;
          }
          img{
            height: auto;
            width: 50px;
            object-fit: cover;
      }

      .grupo-2 {
        height: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 25px;
        margin-top: 0;
      }
  }
}

@media (max-width: 768px) {
  footer{
    .box{
    display: flex;
  }
  grupo-2{
      flex-direction: column;
      text-align: center;
    }
    .container{
      .row{
        grid-template-rows: auto;
        margin: 0;
        padding: 5px;
      }
    }
      }
    }