
figure{
    align-items: center;
}
section{
    width: 100%;
    height: calc(100vh - 160px)
  background-: , linear-gradient(to right, rgb(115, 30, 41), rgba(255, 255, 255, 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 
  bottom right,
    left,
    right;
    }
  