main {height: 800px;
    .imagenPilares{
        padding: 50px 50px 70px 170px;
        }
    h1{text-align: center;
    font-weight: 500;
    font-size: 4em;}

   h2{font-size: 3em;
}
  p{ text-align: center;
padding: 20px;}  
    } 
    
