section {height: auto;
        width: auto;
        .imagenPilares {
          max-width: 100%;
          padding: 20px;
          box-sizing: content-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align:center;
          img {    display: inline-block;    
            max-width: 100%;
            height: auto;
    }
        }
      
      
      
      p {
        width: 100%;
      }}


      .img-mision {
        max-width: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      img {        
              max-width: 100%;
              height: auto;
      }
      
      p {
        text-align: center;
      }
      
      .ImagenVision {
        max-width: 100%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      img {        
              max-width: 100%;
              height: auto;
      }
      
      p {
        width: 100%;
      }
      
      .container{
        .mt-5{
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      
      
      
      
      
      
      