main {height: 70%;
    .imagenPilares{
        padding: 150px 50px 50px 170px;
        height: auto;
    width: 100px;
    object-fit: cover;
      }
    
    .ImagenVision {     
      .animated-image {
          animation: scaleAnimation 3s infinite alternate; 
      }
  }
}
  
  @keyframes scaleAnimation {
      0% {
          transform: scale(1);
      }
      100% {
          transform: scale(1.1);
      }
    }